@import 'base';

.principal {
    width: 90%;
    margin: 35px 0 30px 50px;
    display: flex;
    border-bottom: 1px hsl(220, 14%, 75%) solid;
}

.logo{
    border-color: red;
    margin-right: 40px;
}

.menu {
    
    ul{
       display: flex;
    }

    li{
        list-style: none;
        margin-right: 25px;
        margin-bottom: 30px;     
    }

    a{
       
        text-decoration: none;
        color:hsl(0, 0%, 0%);
        font-size: small;
        font-weight: 300;
        &:hover{
        
            border-bottom: 2px solid hsl(26, 100%, 55%);
            padding: 0px 0px 30px 0px;    
        }   
    }

}
.carrinho {
    width: 2%;
    margin-left: 480px; 
}

.avatar {
    width: 3%;
    margin-left: 30px;
    margin-top: -11px;
    
    &:hover{ 
        width: 4%;  
    }
}

.produto {
    width: 20em;
    margin: 60px 100px 0 150px;
    float:left;
    
    img{
        border-radius: 8px ;
    }

    .container1{
        width: 100%;
    }
    .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    }
    
    .miniaturas {
    margin-top: 12px;
    width: 4em;
       
    &:hover{
        opacity: 0.3;
    }
    
}
}

.descricao {
    width: 70%;
   margin: 130px 90px 100px 100px;
   
       
    h1{
       margin-bottom: 20px;
        font-style: italic;
        
    }

    h4 {
        font-size: 13px;
        color: hsl(26, 100%, 55%);
        margin-bottom: 15px;
        
    }

    p {
        margin-bottom: 20px;
        font-size: small;
        text-align:justify;
        
    }

    .valor{
        margin-right: 5px;
        font-size: medium;
        font-weight: bold;
    }

    .desc{
        color: hsl(26, 100%, 55%);
        font-weight: bold;
        font-size: small;
        background-color: hsl(25, 100%, 94%);
        border-radius: 4px;
    }

    .total{
        text-decoration:line-through;
        font-size: small;
        font-weight: bold;
        color: hsl(220, 14%, 75%);
        
    }
    
}

    .contador{
        width: 10%;
        background-color: hsl(220, 14%, 75%);
        float: left;
    }

    .add{
        width: 260px;
        padding: 5px;
        border-radius: 7px;
        margin: -10px 15px 0 0;
        float: right;
        background-color: hsl(26, 100%, 55%);
        text-align: center;

        &:hover {
           
            
            border-color: hsl(0, 0%, 100%)
        }
        img{
            color: white;
        }

        span{
            color: white;
            font-family: 'Kumbh Sans', sans-serif;
            font-size: small;
            font-weight: bold;
            
        }
    }

    footer{
    font-size: small;
    margin-top: 200px;
    text-align: center;

    a{
        text-decoration: none;
    }
}







